In [1]:
import numpy as np
import platform
import os
import pandas as pd

In [4]:
global listStd
listStd = pd.read_csv('dogNames2.csv') 
listStd.head

<bound method NDFrame.head of       Row_Labels  Count_AnimalName
0              1                 1
1              2                 2
2          40804                 1
3          90201                 1
4          90203                 1
...          ...               ...
16215      37916                 1
16216      38282                 1
16217      38583                 1
16218      38948                 1
16219      39743                 1

[16220 rows x 2 columns]>

In [7]:
listStd.head(40)

       Row_Labels  Count_AnimalName
0               1                 1
1               2                 2
2           40804                 1
3           90201                 1
4           90203                 1
5          102201                 1
6         3010271                 1
7           MARCH                 2
8           APRIL                51
9          AUGUST                14
10       DECEMBER                 4
11         SUNDAY                13
12         MONDAY                 4
13         FRIDAY                19
14            JAN                 1
15            JUN                 1
16        JANUARY                 1
17           JUNE                24
18           JULY                 9
19            MON                 2
20            MAY                13
21       NOVEMBER                 1
22        TUESDAY                 7
23      SEPTEMBER                 2
24      WEDNESDAY                10
25            SUN                 5
26  &QUOT;G&QUOT;                 1
27    (LEELA)LILA                 1
28           166Y                 1
29        2CHAINZ                 1
30             2J                 1
31              A                 1
32             A.                 2
33            A.J                 2
34           A.J.                 3
35        AALIYAH                 7
36         AALSKA                 1
37          AARAV                 1
38          AARON                 7
39          AARYN                 1